run = "npm install && npm start"
entrypoint = "index.js"
modules = ["nodejs-20"]

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm start"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 3000
externalPort = 80
